body {
  padding-top: 110px;
  background-color:white;
  background-image: url("queyras_soleil.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h2{
  color: white;
  text-align: center; 
}

.presentation {
  color: white;
}

.texto {
  font-family: 'rapscallionregular'; 
  color: white;
  font-size: 30px;
}

.tete
{
  text-align: center;
}

.logo {
  font-size: 25px;
  font-family: Brush Script MT;
  text-align: start;
}


footer{
  position:absolute;
  bottom:0;
  width:100%;
  padding-top:30px;
  height:00px;
}

@font-face{ 
  font-family: 'drawveticamini';
  src: url('/web_fonts/drawveticamini_medium_macroman/DrawveticaMini-webfont.eot');
  src: url('DrawveticaMini-webfont.eot?iefix') format('eot'),
       url('/web_fonts/drawveticamini_medium_macroman/DrawveticaMini-webfont.woff') format('woff'),
       url('/web_fonts/drawveticamini_medium_macroman/DrawveticaMini-webfont.ttf') format('truetype'),
       url('/web_fonts/drawveticamini_medium_macroman/DrawveticaMini-webfont.svg') format('svg');
}

.form-inline{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

table{
  border-radius: 14px;
}

.btn-secondary-outline {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  color: white;
}


.btn{
  display:block;
  height: 30px;
  width: 30px;
  padding-left: 15px;
  
}

.btn btn-primary-outline{
  color: aliceblue;
}