@font-face {
    font-family: 'rapscallionregular';
    src: url('police/RAPSCALL-webfont.eot');
    src: url('police/RAPSCALL-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/RAPSCALL-webfont.woff2') format('woff2'),
         url('police/RAPSCALL-webfont.woff') format('woff'),
         url('police/RAPSCALL-webfont.ttf') format('truetype'),
         url('police/RAPSCALL-webfont.svg#rapscallionregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  padding-top: 250px;
background-color:white;
background-image: url("queyras_soleil.jpg");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}


.presentation {
  color: white;
}

.texto {
    font-family: 'rapscallionregular'; 
    color: white;
    font-size: 30px;
}

.tete
{
  text-align: center;
}


.button1 {
  padding-right: 5px;
  padding-left: 45px;

}

.logo {
  font-size: 25px;
  font-family: Brush Script MT;
  text-align: start;
}
